<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Firefox.WebDriver" version="0.24.0" targetFramework="net46" />
  <package id="Selenium.Support" version="4.0.0-alpha01" targetFramework="net46" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha01" targetFramework="net46" />
  <package id="Selenium.WebDriver.ChromeDriver" version="76.0.3809.25-beta" targetFramework="net46" />
  <package id="Selenium.WebDriver.IEDriver64" version="3.11.0.1" targetFramework="net46" />
</packages>